.content-box {
  background-color: white;
  margin: auto;
  max-width: 800px;

  display: grid;
}

.input-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modifying {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-box {
  display: flex;
  justify-content: space-between;
}
